/* You can add global styles to this file, and also import other style files */

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.label {
    font-weight: bold;
}

.form-group {
    font-weight: bold;
}

.table td {
    font-family: "Nunito Sans", monospace;
    font-size: small;
}

.vehicle-info img {
    max-width: 100px;
    float: left;
    margin: 0 2px;
    border: solid 1px black;
}

.vehicle-info .vehicle-name {
    font-size: medium;
    font-weight: bold;
}
