<br/>
<h3 align="left">Add a Vehicle</h3>

<div class="row" align="center">
    <form (ngSubmit)="gotoCheckout()" #vehicleForm="ngForm" novalidate>
        <div class="form-group">
            <label for="ownerName">Owner Name</label>
            <input type="text" class="form-control" id="ownerName"
                   required
                   [(ngModel)]="model.ownerName" name="ownerName" #ownerName="ngModel">
            <div [hidden]="ownerName.valid || ownerName.pristine" class="alert alert-danger">
                Owner Name is required.
            </div>
        </div>

        <div class="form-group">
            <label for="horsePower">Horsepower:</label>
            <input type="number" class="form-control" id="horsePower"
                   required
                   [(ngModel)]="model.horsepower" name="horsepower" #horsePower="ngModel">
            <div [hidden]="horsePower.valid || horsePower.pristine" class="alert alert-danger">
                Horsepower value is required.
            </div>
            <label for="torque">Torque:</label>
            <input type="number" class="form-control" id="torque"
                   required
                   [(ngModel)]="model.torque" name="torque" #torque="ngModel">
            <div [hidden]="torque.valid || torque.pristine" class="alert alert-danger">
                Torque value is required
            </div>
        </div>


        <div class="form-group">
            <label for="vehicleType">Vehicle Type</label>
            <select class="form-control" id="vehicleType" required [(ngModel)]="model.vehicleType" name="vehicleType"
                    #vehicleType="ngModel">
                <option *ngFor="let type of vehicleTypes" [value]="type">{{type}}</option>
            </select>
            <div [hidden]="vehicleType.valid || vehicleType.pristine" class="alert alert-danger">
                Vehicle type is required.
            </div>
        </div>

        <div class="form-group">
            <label for="engineRunning">Engine Running</label>
            <input type="checkbox" class="form-control" id="engineRunning"
                   [(ngModel)]="model.engineRunning" name="engineRunning" #engineRunning="ngModel">
            <div [hidden]="engineRunning.valid || engineRunning.pristine" class="alert alert-danger">
                Engine running status is required.
            </div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!vehicleForm.form.valid">Add Vehicle
        </button>
    </form>

</div>