@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>Steinbauer: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
<h2>@ViewBag.Title for Steinbauer</h2>
<div>

</div>
</body>
</html>