.vehicle-info img {
    max-width: 100px;
    float: left;
    margin: 0 2px;
    border: solid 1px black;
}

.vehicle-info .vehicle-name {
    font-size: large;
    font-weight: bold;
}

.table th {
    font-size: small;
}