<h3 align="center">Edit Vehicle</h3>

<div class="card shadow row-cols-md-2">
    <img src="/lib/img/{{data.vehicle.fileName}}" class="img-thumbnail"/>
</div>
<div>
    <form (ngSubmit)="onSubmit()" #vehicleForm="ngForm">
        <div class="form-group">
            <label for="ownerName">Owner Name</label>
            <input type="text" class="form-control" id="ownerName"
                   required
                   [(ngModel)]="vehicle.ownerName" name="ownerName" #ownerName="ngModel">
            <div [hidden]="ownerName.valid || ownerName.pristine" class="alert alert-danger">
                Owner Name is required.
            </div>
        </div>

        <div class="form-group">
            <label for="horsePower">Base Horsepower:</label>
            <input type="number" class="form-control" id="horsePower"
                   required
                   [(ngModel)]="vehicle.horsepower" name="horsepower" #horsePower="ngModel">
            <div [hidden]="horsePower.valid || horsePower.pristine" class="alert alert-danger">
                Horsepower value is required.
            </div>
            <label for="torque">Base Torque:</label>
            <input type="number" class="form-control" id="torque"
                   required
                   [(ngModel)]="vehicle.torque" name="torque" #torque="ngModel">
            <div [hidden]="torque.valid || torque.pristine" class="alert alert-danger">
                Torque value is required.
            </div>
        </div>

        <div class="form-group">
            <label for="vehicleType">Vehicle Type</label>
            <select class="form-control" id="vehicleType"
                    required
                    [(ngModel)]="vehicle.vehicleType" name="vehicleType" #vehicleType="ngModel">
                <option [value]="null">Select</option>
                <option *ngFor="let option of vehicleTypes" [value]="option.id">{{option.name}}</option>
            </select>
            <div [hidden]="vehicleType.valid || vehicleType.pristine" class="alert alert-danger">
                Vehicle type is required.
            </div>
        </div>

        <div class="form-group">
            <label for="engineRunning">Engine Running</label>
            <input type="checkbox" class="form-control" id="engineRunning"
                   [(ngModel)]="vehicle.engineRunning" name="engineRunning" #engineRunning="ngModel" ngModel="checked">
            <div [hidden]="engineRunning.valid || engineRunning.pristine" class="alert alert-danger">
                Engine running status is required.
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!vehicleForm.form.valid">Submit
        </button>
    </form>
</div>
<br/>
<br/>
<br/>
<br/>